{% extends 'base.html' %}

{% block body_block %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've emailed you the instructions for re-setting your password. If an account exists with the email you entered,
		    you shall receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you haven't received an email, please make sure you've entered the address you registered with
		    or check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'myapp:user_login' %}">Return to login page</a></p>
	</div>
</div>

{% endblock %}